.chats{
  position: relative;
  background-color:#5a50f0;
  background-image: url(../images/telegrambg.png);
  max-width: 500px;
  height: 800px;
  margin: 0 auto;
  display: flex;

  &__flow{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include  padd(0 12px 24px 12px);
 
  }

  .chat{
    position: relative;
    @include bgc(#ffffff);
    color: #333333;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 80%;
    min-width: 200px;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      @include bdr(12px solid transparent, 12px solid #ffffff)
   
    }

    &--right {
      text-align: right;
      align-self: flex-end;

      &::before {
        right: -11px;
        top: 0;
      }
    }

    &--right:hover {
      @include hov; 
    }

    &--left{

      &::before{
        left: -11px;
        top: 0;
      }
    }

    &--left:hover {
      @include hover;
    }
  }








}